html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike , strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	font: inherit;
}

@keyframes Fade-in{
    0%{ opacity:0; }/*初始状态 透明度为0*/
    40%{ opacity:0; }/*过渡状态 透明度为0*/
    100%{ opacity:0.85; }/*结束状态 透明度为1*/
}
@keyframes Turn{
    0%{
		background-color: #ffffff;
		color: #233333;
	}
	/*
    50%{
		background-color: #666666;
		color: #bbbbbb;
	}
	*/
    100%{
		background-color: #333333;
		color: #ffffff;
	}
}

body{
	background:url("img/bg.jpg") no-repeat;
}

section{
	background: #ffffff;
	color: #233333;
	opacity: 0.85;
	text-align: center;
	font: inherit;
	animation: Fade-in 0.8s ease 0s 1;
   	-webkit-animation: Fade-in 0.8s ease 0s 1;
    -moz-animation: Fade-in 0.8s ease 0s 1;
    -o-animation: Fade-in 0.8s ease 0s 1;
    -ms-animation: Fade-in 0.8s ease 0s 1;
}

section.title{
}

a{
	text-decoration: none;
	color: #233333;
	color: #f525e4;
}
a.button{
	border-radius: 4px;
	border:1px solid #444444;
	margin-bottom: 10px;
	color: #233333;
}
a.button:hover{
	animation: Turn 0.8s ease 0s 1 normal running forwards;
   	-webkit-animation: Turn 0.8s ease 0s 1 normal running forwards;
    -moz-animation: Turn 0.8s ease 0s 1 normal running forwards;
    -o-animation: Turn 0.8s ease 0s 1 normal running forwards;
    -ms-animation: Turn 0.8s ease 0s 1 normal running forwards;
}
