html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike , strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	font: inherit;
}

@keyframes Fade-in{
    0%{ opacity:0; }
    40%{ opacity:0; }
    100%{ opacity:0.5; }
}
body{
	background:url("https://acg.toubiec.cn/random.php?fa8e648d8f8fcb8469b51515") no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:center top;
}

section{
	background: #ffffff;
	color: #233333;
	opacity: 0.5;
	text-align: center;
	font: inherit;
	margin: 10% 40% 10px 40%;
	animation: Fade-in 0.8s ease 0s 1;
	transition: all 0.4s;
}
section:hover{
	opacity: 0.9;
}

a{
	text-decoration: none;
	color: #f525e4;
}
a.button{
	border-radius: 4px;
	border:1px solid #444444;
	margin-bottom: 10px;
	color: #233333;
	transition: color 1s, background_color 1s;
}
a.button:hover{
	background-color: #333333;
	color: #ffffff;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline;
	padding: 0px 10px;
}
img.link{
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}
img.head{
	margin-top: 40px;
	width: 60%;
	height: 60%;
}
