html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike , strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	font: inherit;
}

@keyframes fade-in{  
    0%{ opacity:0; }/*初始状态 透明度为0*/  
    40%{ opacity:0; }/*过渡状态 透明度为0*/  
    100%{ opacity:0.85; }/*结束状态 透明度为1*/  
}  

body{
	background:url("img/bg.jpg") no-repeat;
}

section{
	background: #ffffff;
	color: #233333;
	opacity: 0.85;
	text-align: center;
	font: inherit;
	margin: 200px 10% 100px 10%;
	animation: fade-in 0.8s ease 0s 1;
   	-webkit-animation: fade-in 0.8s ease 0s 1;
    -moz-animation: fade-in 0.8s ease 0s 1;
    -o-animation: fade-in 0.8s ease 0s 1;
    -ms-animation: fade-in 0.8s ease 0s 1;
}

section.title{
}

a{
	text-decoration: none;
	color: #233333;
}
